/* Flexbox */
/* inline vs block display */
/* Parent child */
.nav {
  border: 3px solid blue;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: sgen;
  width: fit-content;
  height: 100vh;
}
div {
  /* height: 100px; */
  width: 100px;
  background-color: red;
  border: 2px solid black;
}
